<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript Learning</title>
  </head>
  <body>
    <p id ="demo"></p>

    <button onclick="myFunc()">Try it</button>
    <p id="demo1">Hello World!</p>

    <script>
      let header = "Template Strings";
      let tags = ["template strings", "javascript", "es6"];

      let html = `<h2>${header}</h2><ul>`;
        for (const x of tags) {
          html += `<li>${x}</li>`;
        }
      html += `</ul>`;
        document.getElementById("demo").innerHTML = html;
    </script>

    <script>
      function myFunc () {
        let text = document.getElementById("demo1").innerHTML;
        document.getElementById("demo1").innerHTML = text.toUpperCase();
      }
    </script>
  </body>
</html>
